<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35940773750-7q2cutjfp0dko1rk3i8fikm2urd77h20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35940773750-7q2cutjfp0dko1rk3i8fikm2urd77h20</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>35940773750-09dpmfjdot9n6cajbrgddlprpe25qr53.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAGLEXflndaU2z_c2d8oZDiPf8IulF5lhg</string>
	<key>GCM_SENDER_ID</key>
	<string>35940773750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.desense.moontime</string>
	<key>PROJECT_ID</key>
	<string>moontime-io</string>
	<key>STORAGE_BUCKET</key>
	<string>moontime-io.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35940773750:ios:bd771dce3a962804e7d457</string>
</dict>
</plist>